/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: hsl(0deg 0% 82%);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* !!!!!!!!!!!!!!!!!!MY CSS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.container {
    max-width: 944px;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    background-color: hsl(280deg 5% 88%);
}

aside {
    flex: 0 0 38.5%;
    height: 100%;
}

.aside-content {
    margin: auto 10px auto auto;
    padding-right: 16px;
    border-right: 3px solid hsl(183deg 99% 34%);
}

main {
    flex: 0 0 61.5%;
}

.main-content {
    /* margin: auto auto auto 10px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

section {
    flex: 0 0 100%;
}

.HeaderContent {
    padding: 30px 10px 10px 40px;
}

.SideContent {
    padding: 30px 10px 30px 60px;
}

.MainContentPre {
    padding: 30px 50px 0px 30px;
}

.MainContentSec {
    padding: 30px 30px 30px 30px;
}

h2 {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
    padding-bottom: 0.8rem;
    font-size: 1.8rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 0.79rem;
    font-weight: unset;
    padding-top: 0.7rem;
}

p {
    padding: 1rem 0 3rem 0;
    line-height:1.5;
    font-size: 0.9rem;
}

img {
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: thistle;
    width: 180px;
    height: 180px;
}

.header{
    background-color: hsl(181deg 95% 35%);
    margin-bottom: 25px;
    text-align: center;
    color: white;
}

#header {
    font-size: 3.4rem;
}

#header1 {
    font-weight: unset;
    margin-top: 5px;
    border-bottom: 0px;
    font-size: 1rem;
}

ul {
    list-style: none;
}

li {
    padding: 0.3rem 0;
}

.color {
    color: hsl(183, 99%, 34%);
    font-weight: 900;
}

.hobby {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.skill {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.ProgressBar {
    border: 1px solid hsl(183, 99%, 34%);
    border-radius: 60px;
    width: 100%;
    height: 0.4rem;
}

.Progress {
    background-color: hsl(183, 100%, 14%);
    height: 0.4rem;
}

.ExpHeader {
    display: flex;
    justify-content: space-between;
}

.reference {
    flex: 0 0 50%;
}

.software {
    flex: 0 0 50%;
}

.soft {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.SoftProgressBar {
    border: 1px solid hsl(183, 99%, 34%);
    flex: 0 0 55%;
    height: 0.4rem;
}

.SoftProgress {
    background-color: hsl(183, 100%, 14%);
    height: 0.4rem;
}

.SoftLabel {
    flex: 0 0 30%;
}

.EduHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* 
.header {
    height: 473px;
}

.contact {
    height: 203px;
}

section.hobby {
    height: 189px;
}

.skills {
    height: 398px;
}
*/
